## JustEmuTarkov - Server
package-lock.json
ResourceHacker.ini
output
logs
events
[Pp]roject/[Uu]ser/[Cc]ache/
[Pp]roject/[Uu]ser/[Pp]rofiles/

## visual studio
.vs
.idea
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules
node.exe
## if you dont want to push cache folders
user/cache

# ignore cache backup folder
user/cacheBak 
db/bots
db/cacheBase
db/dialogues
db/locations_test
db/quests
db/assort
db/customization
db/hideout
db/items
db/locales
db/locations
db/ragfair
db/templates
db/weather
db/profile
db2
db3
db4
db5
db6
coreMinified
DB_removable
Server.7z
build.js
Release
dev
_mods
_core
coreMinify
user/mods
user/cache

## windows
desktop.ini
JET-Backend-Server.7z
user/profiles
src/____responses
Server-Icon.exe
Server-Uncompressed.exe
Server.exe
